.DS_Store
*/.DS_Store
.vscode
~$weekly_progress.pptx
logs/*
WORK/*
build/*

### Latex
# Thesis
latex/thesis/thesis.aux
latex/thesis/flyleaf.aux
latex/thesis/thesis.bbl
latex/thesis/thesis.bcf
latex/thesis/thesis.blg
latex/thesis/thesis.fdb_latexmk
latex/thesis/thesis.fls
latex/thesis/thesis.log
latex/thesis/thesis.run.xml
latex/thesis/thesis.synctex.gz
latex/thesis/thesis.toc
latex/thesis/thesis.lof
latex/thesis/thesis.lot
latex/thesis/thesis.out
latex/thesis/front_cover.aux
latex/thesis/ESC499_Thesis_Final_Document_Rubric_and_Rough_Guide.pdf
latex/thesis/Thesis_Format_Reqs_2023-24.pdf
latex/thesis/assets/dummy.png
latex/thesis/assets/*eps-converted-to.pdf

# Proposal
latex/proposal/proposal.aux
latex/proposal/proposal.bbl
latex/proposal/proposal.bcf
latex/proposal/proposal.blg
latex/proposal/proposal.fdb_latexmk
latex/proposal/proposal.fls
latex/proposal/proposal.log
latex/proposal/proposal.run.xml
latex/proposal/proposal.synctex.gz
latex/proposal/Thesis_Proposal_2023-24.pdf
latex/proposal/Thesis_Proposal_Rubric.pdf

# Interim report
latex/interim_report/interim_report.aux
latex/interim_report/interim_report.bbl
latex/interim_report/interim_report.bcf
latex/interim_report/interim_report.fls
latex/interim_report/interim_report.lof
latex/interim_report/interim_report.log
latex/interim_report/interim_report.lot
latex/interim_report/interim_report.blg
latex/interim_report/interim_report.out
latex/interim_report/interim_report.fdb_latexmk
latex/interim_report/interim_report.run.xml
latex/interim_report/interim_report.synctex.gz
latex/interim_report/interim_report.toc
latex/interim_report/Thesis_Interim_Report_2023-24.pdf
latex/interim_report/Thesis_Interim_Report_Rubric.pdf

### Tensorflow
python_prototype/*.out
python_prototype/core.*
python_prototype/log*
python_prototype/data*
python_prototype/results/*
python_prototype/SS3_EDF_*
python_prototype/__pycache__/*
python_prototype/error_logs/*
python_prototype/*.zip
python_prototype/slurm_jobs/logs
python_prototype/reference_data/*

### Other Python
coral/
latest_tf/
pycoral/
python_prototype/scratch

### ASIC
asic/__pycache__/*
asic/sim_build/*
asic/dump.vcd
asic/results.xml
asic/top
asic/tutorial/*
asic/TSMC65_Digital_Flow/*
asic/WORK/*
asic/alib-52/*
asic/reports/*
asic/results/*
asic/command.log
asic/TSMC65_Digital_Flow_data_collection/

### ASIC functional simulation
asic/~$*
asic/func_sim/*.cmake
asic/func_sim/*/*.cmake
asic/func_sim/*/Makefile
asic/func_sim/CMakeCache.txt
asic/func_sim/func_sim
asic/func_sim/CMakeFiles/*
asic/func_sim/include/CMakeFiles/
asic/func_sim/include/doc/
asic/func_sim/include/src/
asic/func_sim/Makefile
asic/mem/

### ASIC RTL
asic/rtl/__pycache__
asic/rtl/ip/__pycache__
asic/rtl/ip/*/__pycache__
asic/rtl/ip/*/sim_build
asic/rtl/ip/*/dump.vcd
asic/rtl/ip/*/results.xml
asic/rtl/master/__pycache__
asic/rtl/master/sim_build
asic/rtl/master/dump.vcd
asic/rtl/master/results.xml
asic/rtl/master/~*
asic/rtl/cim/__pycache__
asic/rtl/cim/sim_build
asic/rtl/cim/dump.vcd
asic/rtl/cim/results.xml
asic/rtl/cim/~*
asic/rtl/rtl_env
asic/rtl/ip/adder/adder.saif
asic/rtl/ip/multiplier/multiplier.saif
asic/rtl/ip/divider/divider.saif
asic/rtl/ip/exp/exp.saif
asic/rtl/ip/layernorm/layernorm.saif
asic/rtl/ip/sqrt/sqrt.saif
asic/rtl/ip/softmax/softmax.saif
asic/rtl/top.saif
asic/rtl/master/master.saif

### ASIC functional simulation
asic/fixed_point_accuracy_study/results_test.csv
asic/fixed_point_accuracy_study/ref_data.npy

### Documentation
doc/CMC_VLSI_User_Manual_2023.pdf
doc/Synopsys_DC_commands.pdf
doc/PUG0086A1a_65nm_cln65gp_hd_sram_compiler_ug.pdf