.DS_Store
*/.DS_Store
.vscode
~$weekly_progress.pptx
logs/*

### Latex
# Thesis
latex/thesis/thesis.aux
latex/thesis/thesis.bbl
latex/thesis/thesis.bcf
latex/thesis/thesis.blg
latex/thesis/thesis.fdb_latexmk
latex/thesis/thesis.fls
latex/thesis/thesis.log
latex/thesis/thesis.run.xml
latex/thesis/thesis.synctex.gz

# Proposal
latex/proposal/proposal.aux
latex/proposal/proposal.bbl
latex/proposal/proposal.bcf
latex/proposal/proposal.blg
latex/proposal/proposal.fdb_latexmk
latex/proposal/proposal.fls
latex/proposal/proposal.log
latex/proposal/proposal.run.xml
latex/proposal/proposal.synctex.gz
latex/proposal/Thesis_Proposal_2023-24.pdf
latex/proposal/Thesis_Proposal_Rubric.pdf

# Interim report
latex/interim_report/interim_report.aux
latex/interim_report/interim_report.bbl
latex/interim_report/interim_report.bcf
latex/interim_report/interim_report.fls
latex/interim_report/interim_report.lof
latex/interim_report/interim_report.log
latex/interim_report/interim_report.lot
latex/interim_report/interim_report.blg
latex/interim_report/interim_report.out
latex/interim_report/interim_report.fdb_latexmk
latex/interim_report/interim_report.run.xml
latex/interim_report/interim_report.synctex.gz
latex/interim_report/interim_report.toc
latex/interim_report/Thesis_Interim_Report_2023-24.pdf
latex/interim_report/Thesis_Interim_Report_Rubric.pdf

### Tensorflow
python_prototype/*.out
python_prototype/log*
python_prototype/data*
python_prototype/results/*
python_prototype/SS3_EDF_*
python_prototype/__pycache__/*
python_prototype/error_logs/*
python_prototype/*.zip
python_prototype/slurm_jobs/logs/*

### ASIC
asic/__pycache__/*
asic/sim_build/*
asic/dump.vcd
asic/results.xml
asic/top
asic/tutorial/post_synthesis_sim.mpf
asic/tutorial/tutorial.cr.mti
asic/tutorial/tutorial.mpf
asic/tutorial/vsim.wlf
asic/tutorial/work/*
asic/tutorial/TSMC65_Digital_Flow/*

### Documentation
doc/CMC_VLSI_User_Manual_2023.pdf