tensorflow==2.14.0 # This should be 2.8.0 for Compute Canada (else get a compilation error when running on GPU)
tensorflow_addons>=0.23.0
numpy>=1.24.0
matplotlib>=3.8.0
six>=1.16.0
typing_extensions>=4.8.0
numpy<1.25.0
matplotlib>=3.8.0
pyedflib>=0.1.34
multiprocess>=0.70.15
GitPython>=3.1.40
plotly>=5.18.0
scipy>=1.11.2
protobuf>=3.20.*
scikit-learn==1.3.*
imbalanced-learn==0.11.*
pydot>=1.4.2